<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Users</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.css">
</head>

<body ng-cloak>
    <div ng-controller="MyAppCtrl as ctrl">
        <!-- Load the controller -->
        <div class="container" ng-controller="UploadCtrl as uploadCtrl">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <h2>Upload File</h2>
                    <form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">
                        <div class="form-group">
                            <!-- Select file to upload. Single file only. Accepts only images-->
                            <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                        </div>
                        <div class="form-group">
                            <!-- Thumbnail preview of image to upload. -->
                            <img ngf-thumbnail="uploadCtrl.imgFile" width="500px" class="img-thumbnail">
                        </div>
                        <div class="form-group">
                            <!-- Upload button. Click to upload images -->
                            <button class="btn btn-default" type="submit">Upload</button>
                        </div>

                        <!-- Success and error flash messages. Logic based on status code returned after POST request -->
                        <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code" ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">
                            <button class="close" data-dismiss="alert">
                        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                        &times;
                    </button> {{ uploadCtrl.status.message }}
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <h2>Upload File - S3</h2>
                    <form name="UploadForm" novalidate ng-submit="uploadCtrl.uploadS3()" autocomplete="off">
                        <div class="form-group">
                            <!-- Select file to upload. Single file only. Accepts only images-->
                            <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                        </div>
                        <div class="form-group">
                            <!-- Thumbnail preview of image to upload. -->
                            <img ngf-thumbnail="uploadCtrl.imgFile" width="500px" class="img-thumbnail">
                        </div>
                        <div class="form-group">
                            <!-- Upload button. Click to upload images -->
                            <button class="btn btn-default" type="submit">Upload</button>
                        </div>

                        <!-- Success and error flash messages. Logic based on status code returned after POST request -->
                        <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code" ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">
                            <button class="close" data-dismiss="alert">
                        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                        &times;
                    </button> {{ uploadCtrl.status.message }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- placeholder for views -->
    <!-- <div ui-view>
    </div> -->

    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/angular/angular.min.js"></script>
    <!-- <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script> -->
    <script src="/libs/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
    <script src="/libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="app/app.module.js"></script>
    <!-- <script src="app/app.config.js"></script> -->
    <script src="app/controllers/app.controller.js"></script>
    <script src="app/upload/upload.controller.js"></script>
    <script src="app/controllers/users.controller.js"></script>
    <script src="app/controllers/edit.controller.js"></script>
    <script src="app/services/app.service.js"></script>
</body>

</html>