<div class="container" ng-controller="EditUserCtrl as ctrl">
    <div class="page-header">
        <h2>Edit User Details</h2>
    </div>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ctrl.user.name}}
                <!-- <span class="glyphicon glyphicon-edit pull-right" ng-click="ctrl.saveEdit()">  -->
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" ng-model="ctrl.user.name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" ng-model="ctrl.user.email">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" type="text" ng-model="ctrl.user.phone">
                    </div>
                    <div class="form-group">
                        <label>Date of birth</label>
                        <input class="form-control" type="date" ng-model="ctrl.user.dob">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="ctrl.saveEdit()">Save</button>
                        <button type="button" class="btn btn-default" ng-click="ctrl.cancelEdit()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>